<a href="https://colab.research.google.com/github/barrosm/BIMASTER_CODE_PUBLIC/blob/main/006_leitura_dados_FRED_rev_20210515.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Leitura dados FRED (Federal Reserve Bank of St. Louis)

Leitura de dados diários macroeconômicos do FRED (Federal Reserve Bank of St. Louis)

Monica Barros

Data: 25/02/2021 - atualizado em 15/05/2021

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
plt.style.use('fivethirtyeight')

import seaborn as sns; 
sns.set(rc={'figure.figsize':(17,6)})

plt.rcParams['axes.labelsize'] = 16
plt.rcParams['xtick.labelsize'] = 14
plt.rcParams['ytick.labelsize'] = 14

pd.set_option('display.max_colwidth', None)

from time import perf_counter

import pickle
import datetime

!pip install pytz
import pytz
local_tz = pytz.timezone('America/Sao_Paulo')

Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (2018.9)

In [2]:
# Define data de hoje (para incluir nos arquivos de saida)
data_hoje = datetime.datetime.now(tz = local_tz)
# Converte para string (incluindo hora e minuto - útil se for rodar várias vezes no mesmo dia para testes)
data_hoje = data_hoje.strftime("%Y_%m_%d_%H%M")

In [3]:
path_result = '/home/jovyan/work/@Fund_Eval/@fatores_risco/'
os.makedirs(path_result, exist_ok = 'TRUE')

#path_result = '/home/jovyan/work/@Fund_Eval/CVM/Diario/'
#os.makedirs(path_result, exist_ok = 'TRUE')

path_data = '/home/jovyan/work/@Fund_Eval/@dados_acoes/'
os.makedirs(path_data, exist_ok = 'TRUE')

path_code = '/home/jovyan/work/@Fund_Eval/PROGRAMAS/'
os.makedirs(path_code, exist_ok = 'TRUE')

In [5]:
import urllib3
import json
import urllib.request
import pandas as pd
import numpy as np
from pandas.io.json import json_normalize

### Pegando dados do FRED

In [6]:
!pip install fredapi
from fredapi import Fred

fred = Fred(api_key='entre com sua api')  # Obtenha a key em https://fred.stlouisfed.org/docs/api/api_key.html

list_series = ['SP500', 'NASDAQCOM', 'DJCA', 'DJIA', 'DJTA', 'WILL5000PR','VIXCLS', 'DCOILBRENTEU', 'DCOILWTICO','DGS10', 'DGS5', 'DGS1', 'DGS3MO'] #'WILL5000IND'

Collecting fredapi
  Downloading https://files.pythonhosted.org/packages/db/82/9ca1e4a7f1b2ae057e8352cc46d016866c067a12d013fc05af0670f4291a/fredapi-0.4.3-py3-none-any.whl
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from fredapi) (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->fredapi) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->fredapi) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas->fredapi) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->fredapi) (1.15.0)
Installing collected packages: fredapi
Successfully installed fredapi-0.4.3

In [7]:
df = pd.DataFrame(columns = list_series)

In [8]:
for i in range(len(list_series)):
    df.iloc[:,i] = fred.get_series(list_series[i], observation_start = '2017-01-01')

df.columns = ['SP500', 'NASDAQ', 'Dow_Jones_Comp_Avg', 'Dow_Jones_Ind_Avg', 'Dow_Jones_Transp_Avg','Wilshire5000',
              'VIX', 'OIL_Brent', 'OIL_WTI','10yr_Treasury', '5yr_Treasury', '1yr_Treasury', '3mo_Treasury' ]

df.index.name = 'Date'
df.head(3)

              SP500   NASDAQ  ...  1yr_Treasury  3mo_Treasury
Date                          ...
2017-01-02      NaN      NaN  ...           NaN           NaN
2017-01-03  2257.83  5429.08  ...          0.89          0.53
2017-01-04  2270.75  5477.00  ...          0.87          0.53

[3 rows x 13 columns]

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1140 entries, 2017-01-02 to 2021-05-14
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   SP500                 1099 non-null   float64
 1   NASDAQ                1100 non-null   float64
 2   Dow_Jones_Comp_Avg    1099 non-null   float64
 3   Dow_Jones_Ind_Avg     1099 non-null   float64
 4   Dow_Jones_Transp_Avg  1099 non-null   float64
 5   Wilshire5000          1098 non-null   float64
 6   VIX                   1097 non-null   float64
 7   OIL_Brent             1108 non-null   float64
 8   OIL_WTI               1089 non-null   float64
 9   10yr_Treasury         1092 non-null   float64
 10  5yr_Treasury          1092 non-null   float64
 11  1yr_Treasury          1092 non-null   float64
 12  3mo_Treasury          1092 non-null   float64
dtypes: float64(13)
memory usage: 124.7 KB

## Salva em csv e pkl

In [10]:
time_start = perf_counter()
df.to_csv(path_result+'indices_internacionais_'+str(data_hoje)+'.csv',sep = ';' ,encoding='utf-8')
time_end = perf_counter()
elapsed_time = time_end - time_start
print(' ****salvar df em .csv demorou ', round(elapsed_time,2) , ' segundos *****')

 ****salvar df em .csv demorou  0.04  segundos *****

In [11]:
time_start = perf_counter()
df.to_pickle(path_result+'indices_internacionais_'+str(data_hoje)+'.pkl')
time_end = perf_counter()
elapsed_time = time_end - time_start
print(' ****salvar df em .pkl demorou ', round(elapsed_time,2) , ' segundos *****')

 ****salvar df em .pkl demorou  0.0  segundos *****