<a href="https://colab.research.google.com/github/barrosm/BIMASTER_CODE_PUBLIC/blob/main/007_consolida_dados_diarios_CVM_rev_20210515.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Consolida dados diários já coletados e salvos em csv e pkl

### Data: 19/02/2021  atualização em 15/05/2021

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

plt.style.use('fivethirtyeight')
pd.set_option('max_colwidth', 200)  # Altera largura máxima das colunas
pd.set_option('display.max_colwidth', None)

import seaborn as sns; 
sns.set(rc={'figure.figsize':(17,6)})

plt.rcParams['axes.labelsize'] = 16
plt.rcParams['xtick.labelsize'] = 14
plt.rcParams['ytick.labelsize'] = 14

import os
import datetime
from dateutil.relativedelta import relativedelta
import time
from time import perf_counter

import glob
import pickle

#!pip install openpyxl
from openpyxl import Workbook

#!pip install pytz
import pytz
local_tz = pytz.timezone('America/Sao_Paulo')

In [2]:
path = '/home/jovyan/work/@Fund_Eval/CVM/Diario/'
os.makedirs(path, exist_ok = 'TRUE')

current_dir = path

os.chdir(current_dir)

In [3]:
os.listdir()

[]

### Leitura dos dados ano a ano

# 2017

In [ ]:
df1 = pd.read_pickle(current_dir + 'df_diario_201701_201712.pkl')

In [ ]:
df1.head(3)   # Aqui CNPJ fundo é índice - alterar com reset_index para ficar igual aos outros

,DT_COMPTC,VL_TOTAL,VL_QUOTA,VL_PATRIM_LIQ,CAPTC_DIA,RESG_DIA,NR_COTST
CNPJ_FUNDO,,,,,,,
00.017.024/0001-53,2017-01-02,1082310.35,24.264751,1080998.58,0.0,0.0,1
00.017.024/0001-53,2017-01-03,1082843.72,24.274863,1081449.09,0.0,0.0,1
00.017.024/0001-53,2017-01-04,1083398.28,24.284681,1081886.49,0.0,0.0,1

In [ ]:
df1 = df1.reset_index()

In [ ]:
df1.head(3)

,CNPJ_FUNDO,DT_COMPTC,VL_TOTAL,VL_QUOTA,VL_PATRIM_LIQ,CAPTC_DIA,RESG_DIA,NR_COTST
0,00.017.024/0001-53,2017-01-02,1082310.35,24.264751,1080998.58,0.0,0.0,1
1,00.017.024/0001-53,2017-01-03,1082843.72,24.274863,1081449.09,0.0,0.0,1
2,00.017.024/0001-53,2017-01-04,1083398.28,24.284681,1081886.49,0.0,0.0,1

# 2018

In [ ]:
df2 = pd.read_pickle(current_dir + 'df_diario_201801_201812.pkl')
df2.head(3)

,CNPJ_FUNDO,DT_COMPTC,VL_TOTAL,VL_QUOTA,VL_PATRIM_LIQ,CAPTC_DIA,RESG_DIA,NR_COTST
0,00.017.024/0001-53,2018-01-02,1130197.89,25.968274,1130221.60,0.0,0.0,1
1,00.017.024/0001-53,2018-01-03,1130497.24,25.972772,1130417.38,0.0,0.0,1
2,00.017.024/0001-53,2018-01-04,1130796.56,25.977238,1130611.74,0.0,0.0,1

# 2019

In [ ]:
df3 = pd.read_pickle(current_dir + 'df_diario_201901_201912.pkl')
df3.head(3)

,CNPJ_FUNDO,DT_COMPTC,VL_TOTAL,VL_QUOTA,VL_PATRIM_LIQ,CAPTC_DIA,RESG_DIA,NR_COTST
0,00.017.024/0001-53,2019-01-02,1134502.30,26.653280,1130684.21,0.0,0.0,1
1,00.017.024/0001-53,2019-01-03,1134781.90,26.655665,1130785.41,0.0,0.0,1
2,00.017.024/0001-53,2019-01-04,1135061.25,26.658060,1130887.00,0.0,0.0,1

# 2020 até agosto

In [ ]:
df4 = pd.read_pickle(current_dir + 'df_diario_202001_202008.pkl')
df4.head(3)

,CNPJ_FUNDO,DT_COMPTC,VL_TOTAL,VL_QUOTA,VL_PATRIM_LIQ,CAPTC_DIA,RESG_DIA,NR_COTST
0,00.017.024/0001-53,2020-01-02,1132491.66,27.225023,1123583.00,0.0,0.0,1
1,00.017.024/0001-53,2020-01-03,1132685.12,27.224496,1123561.25,0.0,0.0,1
2,00.017.024/0001-53,2020-01-06,1132881.43,27.225564,1123605.31,0.0,0.0,1

In [ ]:
df4.tail()

,CNPJ_FUNDO,DT_COMPTC,VL_TOTAL,VL_QUOTA,VL_PATRIM_LIQ,CAPTC_DIA,RESG_DIA,NR_COTST
2914520,97.929.213/0001-34,2020-08-25,65907693.19,9.018819,68536905.75,0.0,0.0,2
2914521,97.929.213/0001-34,2020-08-26,68637458.33,9.030580,68626282.69,0.0,0.0,2
2914522,97.929.213/0001-34,2020-08-27,68599377.49,9.025518,68587813.81,0.0,0.0,2
2914523,97.929.213/0001-34,2020-08-28,68744083.07,9.044509,68732130.76,0.0,0.0,2
2914524,97.929.213/0001-34,2020-08-31,68498999.92,9.012207,68486659.95,0.0,0.0,2

In [ ]:
###df1.to_csv(path+'df_diario_201701_201712.csv', sep = ',', index = False) 
### df4.to_csv(path+'df_diario_202001_202008.csv', sep = ',', index = False)

# 09/2020 a 02/2021 (parte)

In [ ]:
df5 = pd.read_pickle(current_dir + 'df_diario_202009_202102.pkl')
df5.head(3)

,CNPJ_FUNDO,DT_COMPTC,VL_TOTAL,VL_QUOTA,VL_PATRIM_LIQ,CAPTC_DIA,RESG_DIA,NR_COTST,Return
0,00.017.024/0001-53,2020-09-01,1109980.23,27.529846,1110436.09,0.0,0.0,1,NaN
1,00.017.024/0001-53,2020-09-02,1110061.15,27.530474,1110461.43,0.0,0.0,1,0.002282
2,00.017.024/0001-53,2020-09-03,1110144.96,27.531079,1110485.83,0.0,0.0,1,0.002197

In [ ]:
df5.tail(3)

,CNPJ_FUNDO,DT_COMPTC,VL_TOTAL,VL_QUOTA,VL_PATRIM_LIQ,CAPTC_DIA,RESG_DIA,NR_COTST,Return
2160652,97.929.213/0001-34,2021-02-10,72470446.18,9.535098,72460275.70,0.0,0.0,2,-0.270881
2160653,97.929.213/0001-34,2021-02-11,72711380.86,9.566748,72700790.24,0.0,0.0,2,0.331926
2160654,97.929.213/0001-34,2021-02-12,72853179.33,9.585352,72842168.03,0.0,0.0,2,0.194465

In [ ]:
print(df1.shape)
print(df2.shape)
print(df3.shape)
print(df4.shape)
print(df5.shape)

(3382186, 8)
(3589065, 8)
(3936018, 8)
(2914525, 8)
(2160655, 9)

## Vou deletar a coluna de retornos de df5 pois não existe nas outras dataframes

In [ ]:
df5 = df5.drop('Return', axis = 1)

In [ ]:
df5.shape

(2160655, 8)

In [ ]:
#df2 = df2.set_index('CNPJ_FUNDO') # Do not do it until you want to group by cnpj
#df2.head(3)

# Criando dataframe com dados consolidados de 2017 a 02/2021

In [ ]:
df = pd.concat([df1, df2])

In [ ]:
print(df.shape)

(6971251, 8)

In [ ]:
df.to_pickle(current_dir + 'df_diario_2017_2018.pkl')

In [ ]:
df = pd.concat([df, df3])   # 2017, 2018 e 2019
print(df.shape)

(10907269, 8)

In [ ]:
df.to_pickle(current_dir + 'df_diario_2017_2019.pkl')

In [ ]:
time_start = perf_counter()

df = pd.concat([df, df4])  # 2017 a 09/2020

df.to_pickle(current_dir + 'df_diario_2017_202009.pkl') 
time_end = perf_counter()
elapsed_time = time_end - time_start
print(' ****salvar df demorou ', round(elapsed_time,2) , ' segundos *****')

 ****salvar df demorou  24.08  segundos *****

In [ ]:
print(df.shape)

(13821794, 8)

In [ ]:
time_start = perf_counter()

df = pd.concat([df, df5])  # 2017 a 02/2021

df.to_pickle(current_dir + 'df_diario_2017_202102.pkl') 
time_end = perf_counter()
elapsed_time = time_end - time_start
print(' ****salvar df demorou ', round(elapsed_time,2) , ' segundos *****')

 ****salvar df demorou  26.36  segundos *****

In [ ]:
print(df.shape)

(15982449, 8)

In [ ]:
current_dir

'/home/jovyan/work/@Fund_Eval/CVM/Diario/'